[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jira = "*"
oauth2 = "*"
requests = "*"
requests-oauthlib = "*"
IPython = "*"
filemagic = "*"
tlslite = "*"
errbot = "*"
retrying = "*"

[requires]
python_version = "3"







